<div class="form-container d-flex flex-column align-items-center mt-3">
  <div class="template-container flex row">
    <div class="main-title text-center mt-4">
      Новый пароль
    </div>
    <div class="d-inline-flex align-items-center justify-content-between mt-3">
      <div class="input-title">Текущий пароль</div>
      <input
        class="m-3 input-field"
        type="password"
        [(ngModel)]="currentPassword"
      >
    </div>
    <div class="d-inline-flex align-items-center justify-content-between">
      <div class="input-title">Новый пароль</div>
      <input
        class="m-3 input-field"
        type="password"
        [(ngModel)]="newPassword"
      >
    </div>
    <div class="d-inline-flex align-items-center justify-content-between">
      <div class="input-title">Повторите новый пароль</div>
      <input
        class="m-3 input-field"
        type="password"
        [(ngModel)]="repeatPassword"
      >
    </div>
  </div>
  <div class="button-wrapper">
    <button
      class="button btn btn-success m-2"
      type="button"
      (click)="changePassword()"
    >
      Сменить пароль
    </button>
    <button
      class="button btn btn-outline-info m-2"
      routerLink="/tickets/tickets-list"
      routerLinkActive="active"
      type="button"
    >
      Вернуться к турам
    </button>
  </div>
</div>
