.ticket-info-wrap{
  width: 100%;
  height: 100%;
  overflow: auto;
}
.container{
  width: 600px;
}
.ticket-img-nearest{
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 15px;
  overflow: hidden;
  align-content: center;
  vertical-align: center;
  height: 80%;
}
