<!--<p>tickets works!</p>-->
<!--<div>-->
<!--  <a routerLink="/auth"-->
<!--     routerLinkActive="active"-->
<!--  >-->
<!--    Авторизация-->
<!--  </a>-->
<!--</div>-->
<div class="d-flex flex-column h-100">
  <header>
    <app-header [menuType] = "selectedType"></app-header>
  </header>
  <div class="main-content ">
    <div  class=" h-100 w-100">
      <router-outlet></router-outlet>
    </div>
    <app-aside (updateMenuType)="updateSelectedType($event)"></app-aside>
  </div>
  <footer>
    <app-footer></app-footer>
  </footer>
</div>
