<div class="h-100 aside-container">
  <div class="m-4">
    <p-dropdown
      [options]="menuTypes"
      [(ngModel)]="selectedMenuType"
      optionLabel="label"
      (onChange)="changeType($event)"
    >
    </p-dropdown>
  </div>
  <div class="m-4">
    <p-dropdown
      [options]="tourTypes"
      optionLabel="label"
      (onChange)="changeTourType($event)"
    >
    </p-dropdown>
  </div>
  <div class="m-4">
    <p-calendar (onSelect)="selectDate($event)" ></p-calendar>
  </div>

  <div class="m-4">
    <button class="btn btn-danger" (click)="initRestError()">Error by subscribe</button>
  </div>

  <div class="m-4">
    <p-button (click)="initSettingsData()">Обновить настройки</p-button>
  </div>
  <div class="m-4">
    <p-button (click)="initTours()">Загрузить туры</p-button>
  </div>
  <div class="m-4">
    <p-button (click)="deleteTours()">Удалить туры</p-button>
  </div>
  <p-toast position="top-right"></p-toast>
</div>
