.order-item{
  //height: 200px;
  width: 80%;
  margin: auto;
  border: 1px solid #dad5d5;
  border-radius: .5em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.3);
  transition: all .4s ease-in-out;

  & .order-title {
    padding: 2px;
    margin: auto;
  }

}
.order-item:hover{
  cursor: pointer;
  transform: scale(1.03);
  transition: all .4s ease-in-out;
}
